/* Création des classes réutilisées régulièrement */

.width50 {
    width: 50vw;
}

.width99 {
    width: 99vw;
}

.height50 {
    height: 50vh;
}

.height100 {
    height: 100vh;
}

.textAlignCenter {
    text-align: center;
}

.flex {
    display: flex;
}

.nameJob {
    width: 100%;
    height: 80vh;
    font-size: 300%;
    letter-spacing: 20px;
    position: relative;
    margin-top: 20%;
}

.colorTest {
    color: #c0a754;
}

.colorDev {
    color: #ddd1aa;
}

.all {
    letter-spacing: 9px;
}

.blue {
    color: #03446A;
}

.year {
    letter-spacing: 10px;
    font-size: 150%;
}

.job {
    letter-spacing: 15px;
    font-size: 100%;
}

.company {
    letter-spacing: 3px;
    font-size: 85%;
}