* {
    margin: 0;
    font-family: "Lazer 84", 'Times New Roman', 'MS Sans serif', 'Lucida Sans Unicode';
    color: #CCB878;
}


/* Police à appliquer sur toute la page */

@font-face {
    font-family: "Lazer 84";
    src: url('Lazer84.ttf');
}

#navigation {
    /* width: 99vw; */
    position: fixed;
    z-index: 1;
    font-size: 150%;
    background-color: black;
}

#menuNav {
    list-style-type: none;
    width: 99vw;
}

nav li {
    display: inline-block;
    width: 18%;
    text-align: center;
}

a p:hover {
    color: #03446A;
}

#accueil {
    /* background-image: url(zeldaBlack.jpg); */
    background-image: url(logoZeldaGris.jpg);
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: black;
    justify-content: center;
    align-items: center;
    /* width: 99vw; */
}

#lienCv1 {
    width: 99%;
    height: 20vh;
    position: absolute;
    margin-top: 35%;
    font-size: 150%;
    letter-spacing: 5px;
}

div a:hover {
    color: #03446A;
}

#skills {
    /* background-image: url(logoZeldaGris.jpg); */
    background-image: url(zeldaBlack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: black;
    font-size: 120%;
    /* width: 99vw; */
}

#phraseSkills {
    justify-content: center;
    text-align: center;
    padding-top: 4%;
    letter-spacing: 20px;
    font-size: 130%;
    /* text-decoration: underline; */
}

#test,
#devBack {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    justify-content: right;
    height: 45vh;
    width: 10%;
}

#cursus {
    background-color: #CCB878;
}

#phraseCursus {
    /* width: 99vw; */
    justify-content: center;
    text-align: center;
    padding-top: 4%;
    letter-spacing: 20px;
    font-size: 150%;
    color: #03446A;
}

#flipCards {
    /* width: 99vw; */
    margin-top: 3%;
    /* display: inline-flex; */
}

#lienCv2 {
    width: 99%;
    height: 20vh;
    position: absolute;
    margin-top: 30%;
    font-size: 150%;
    letter-spacing: 5px;
}

div div:nth-child(5) a:hover {
    color: rgb(43, 40, 40);
}

a span:hover {
    color: rgb(43, 40, 40);
}

#career {
    background-color: rgb(43, 40, 40);
}

#phraseCareer {
    /* width: 99vw; */
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    letter-spacing: 20px;
    font-size: 150%;
    color: #03446A;
}

#careerSection {
    justify-content: center;
    text-align: center;
}

#contact {
    background-color: rgb(43, 40, 40);
    text-align: center;
    height: 50vh;
    width: 100%;
}

#CvFooter,
#mail {
    height: 15vh;
    width: 100%;
    font-size: 200%;
    letter-spacing: 5px;
}